services:
  nest-admin:
    build: .
    ports:
      - '3000:3000'
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - DB_HOST=db # 本地使用 db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=12345678
      - DB_DATABASE=nest_admin
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - TZ=Asia/Shanghai

  db:
    image: mysql:9 # 本地 8版本是可以的 但是docker 部署就需要 9 以上
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
    environment:
      - MYSQL_ROOT_PASSWORD=12345678
      - MYSQL_DATABASE=nest_admin # 这里的数据库就是 我们的表名称
      - TZ=Asia/Shanghai # 设置时区为亚洲/上海
    ports:
      - '3306:3306'
    healthcheck:
      test:
        [
          'CMD',
          'mysqladmin',
          'ping',
          '-h',
          'localhost',
          '-u',
          'root',
          '--password=12345678',
        ]
      interval: 10s
      retries: 5

  redis:
    image: redis:7.4.1
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      retries: 5

volumes:
  db_data:
